h1 {
    font-size: 5rem;
    font-weight: bold;
}

body {
    background-color: rgb(187, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 0.5rem;
}
